.vagas-banner2 {
    position: relative;
    width: 100%;
    height: 700px;
    overflow: hidden;
    display: flex;
    justify-content: center; 
    flex-direction: column;
    background-color: #405040; 
}

.vagas-banner {
  position: relative;
  width: 100%;
  height: 600px;
  overflow: hidden;
  display: flex;
  justify-content: center; 
  flex-direction: column;
}

.vagas-banner video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.imagem-com-transparencia {
  width: 100vw; 
  height: auto; 
  position: fixed; 
  top: 0;
  left: 0;
  z-index: -1; 
}

.imagem-com-transparencia-m {
  display: none; 
}

  .vagas-imagem-banner {
    width: 600px;
    height: 480px;
    right: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }

  .vagas-area-banner {
    width: 80%;
    margin: 0 auto;
    position: relative;
  }
  
  .vagas-area-banner h1 {
    font-size: 75px;
    font-weight: 800;
    width: 600px;
    line-height: 1.0;
    color: #F2EDE3;
    margin-top: 100px;
  }
  
  .vagas-area-banner p {
    font-size: 16px;
    width: 500px;
    line-height: 1.6;
    margin-top: -30px;
    color: #F2EDE3;
  }

  
/* BANNER BOTÃO */

  .vagas-area-banner button {
    padding: 20px 70px;
    font-size: 1em;
    background-color: #5C735E; 
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 6px;
    margin-top: 30px;
    transition: transform 0.3s ease-out;
  }

  .vagas-area-banner button:hover {
    transform: translateY(-5px);
  }


/* MOBILE CELULAR */

  @media screen and (max-width: 767px) {


    .imagem-com-transparencia {
      display: none; 
  }

  .imagem-com-transparencia-m {
      display: block;
      width: 100vw;
      height: auto;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      margin-top: 170px;
  }


  .vagas-area-banner h1 {
    font-size: 50px;
    font-weight: 800;
    width: 600px;
    line-height: 1.0;
    color: #F2EDE3;
    margin-top: 100px;
  }
  
  .vagas-area-banner p {
    font-size: 14px;
    width: 100%;
    line-height: 1.6;
    margin-top: -30px;
    color: #F2EDE3;
  }


    
}
